:root {
  --black: #2d3436;
  --gray: #dfe6e9;
  --green: #009432; 
  --red: #c0392b;
  --lightred: #e74c3c;
  --orange: #e67e22;
}

html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: var(--gray);
  background:linear-gradient(0.25turn, var(--orange), var(--red), var(--lightred));
}
*,
*:before,
*:after {
box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 85vh;
}

h1 {
  padding-bottom: 10px;
  border-bottom: solid 2.5px var(--green);
  font-weight: 700;
  font-size: 2.75rem;
  letter-spacing: .75rem;
  margin-bottom: 50px;
  text-shadow: var(--green) 1px 1px 1px;
}

.break-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 40px;
}

.break-buttons button {
  padding: 0px 15px;
  margin: 0 5px;
}

 .start-stop-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 }

.start-stop-reset button {
  padding: 15px;
  margin: 0 15px;
}

.time-display {
  padding: 20px;
  font-size: 10rem;
  letter-spacing: .5rem;
  text-shadow: var(--green) 2px 2px 2px;
}

.btn-start {
  background-color: var(--green);
  color: var(--gray);
}

.btn-stop {
  background-color: var(--black);
  color: var(--gray);
}

.btn-reset {
  background-color: var(--gray);
  color: var(--black);
}

.btn-break-short, .btn-break-long, .btn-tomato {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  color: var(--black);
  width: 190px;
  height: 40px;
}

button {
  font-weight: 700;
  letter-spacing: 1.5px;
  border-radius: 10px;
  font-size: 1.2rem;
}

button:hover, ion-icon:hover {
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

button:focus { 
  outline-color: var(--gray);
  outline-style: thin dotted;
}

.break-btn-updown ion-icon {
  display: flex;
  flex-direction: column;
  font-size: 350%;
  color: var(--green);
}

.slider-container {
  display: flex;
  align-items: center;
}

.input-value {
  font-size: 1.6rem;
  text-shadow: var(--black) 1px 1px 1px;
}

.slider-label {
  font-size: 1.9rem;
  color: var(--green);
  text-shadow: var(--black) 1px 1px 1px;
  font-weight: 700;
  margin-right: 5px;
}

.tomato-slider {
  margin: 0 20px;
}

.tomato-slider:hover {
  cursor: pointer;
}

.counter {
  display: flex;
  margin: 0 50px;
}
.tomato-display, .session-display {
  text-align: center;
  font-size: 1.7rem;
  margin: 0 170px;
  text-shadow: var(--black) 1px 1px 1px;
  line-height: 25px;
}

.reset-count {
  font-size: 350%;
  margin-top: 10px;
}

.reset-count:hover {
  color: var(--green);
  transition: .3s;
}

.active {
  background-color: var(--green);
  color: var(--gray);
}

/* TOOLTIP CSS */

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--green);
  color: var(--gray);
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}